* {
    font-family: Montserrat;
}



.container {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 400px) {

    /*CAROUSEL*/

    .carousel {
        position: relative;
    }

    .div-image {
        position: relative;
    }

    .classImage {
        width: 100%;
        height: 415px;
        object-fit: cover;
        border-radius: 25px;
    }

    .div-boutons {
        position: absolute;
        top: 50%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .classFlecheGauche,
    .classFlecheDroit {
        cursor: pointer;
        width: 30px;
        height: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    button {
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        outline: none;
    }

    .compteurImages {
        margin: 0;
    }

    .div-compteur {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);

        color: #ffffff;
        padding: 5px 10px;
        border-radius: 5px;
    }

    /*CAROUSEL*/

    .AccommodationTitle {
        color: #FF6060;
        font-size: 36px;
        margin-bottom: 1px;
    }

    .Location {
        color: #FF6060;
        margin-top: 1px;
    }

    .tag-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .tag-item {
        background-color: #FF6060;
        border-radius: 30px;
        padding: 5px 29px;
        margin: 5px;
        color: #fff;
    }

    .host-details {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .host-name {
        color: #FF6060;
        font-size: 1.3rem;
        flex-direction: column;
        display: flex;
    }

    .host-firstName {
        margin-bottom: 1px;
        text-align: right
    }

    .host-lastName {
        margin-top: 1px;
        padding-left: 31px;
        text-align: right
    }

    .host-img {
        border-radius: 50%;
        width: 64px;
        height: 64px;
        object-fit: cover;
        margin-top: 6px;
        margin-left: 11px;
    }

    .Rating-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Container-rating-star {
        display: flex;
        align-items: center;

    }

    .rating-star {
        width: 24px;
        margin-left: 13px;
    }

    .equipment-list  {
        margin-bottom: 14px;
        margin-top: 14px;
      }

    .equipment-list p {
        margin-bottom: 1px;
        margin-top: 4px;
      }
      

}

@media (min-width: 1024px) {

    .container-Destop {
        display: flex;
        justify-content: space-between;
    }

    .Rating-name {
        flex-direction: column-reverse;
    }

    .ExpandableSection-Destop {
        display: flex;
        justify-content: center;

    }

    .List-Destop {
        margin-left: 76px;
        width: 100%;
    }

    .Container-rating-star {
        margin-bottom: 47px;
    }

    .classImage {
        height: 255px;
    }

}