.Footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 200px;
 
}

.Div-Footer {
  margin-top: 100px;
  margin-bottom: 62px;
}

.logo-Footer {
  Width: 160px;
  margin-left: 68px;
}

.p-footer {
  font-size: 1.5rem;
  color: white;
}